body{
    background-color: #E6E6E6
}

/* navbar */
.navigation-header{
    font-family: 'Abel', sans-serif;
}

.visual{
    font-size: 64px;
    font-family: 'Anton', sans-serif;

}
.city{
    font-size: 48px;
    font-family: 'Anton', sans-serif;
}
.circles{
    font-family: 'Anton', sans-serif;
    color: white;
}
/* titles */
