body{
    background-color: #E6E6E6
}


/* navbar */
.navigation-header{
    font-family: 'Abel', sans-serif;
}


/* circles */
.testing{
    margin-top: 5px;
    margin-bottom: 5px;
}

.circles{
    font-family: 'Anton', sans-serif;
    color: white;
    column-gap:5px;
}

.red-circle{
    height: 90px;
    width: 90px;
    background: #E6563B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 5px;
}

.yellow-circle {
    height: 90px;
    width: 90px;
    background: #DEA03D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 5px;
}

.green-circle{
    height: 90px;
    width: 90px;
    background: #7CB06C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 5px;
}

.blue-circle{
    height: 90px;
    width: 90px;
    background: #00ABA9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 5px;
}

/* second-half of page */

/* selected-work*/
.selected-work{
    font-family: 'Abel', sans-serif;
}


.selected-text{
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}


/* the last */
.last-articles{
    font-size: 15px;
    font-family: 'Anton', sans-serif;
}

.twitter{
    font-family: 'Abel', sans-serif;
}

.twitter-details{
    font-family: 'Abel', sans-serif;
}


.mini-red{
    height: 18px;
    width: 18px;
    background: #E6563B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.mini-yellow{
    height: 18px;
    width: 18px;
    background: #DEA03D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.mini-green{
    height: 18px;
    width: 18px;
    background: #7CB06C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.mini-blue{
    height: 18px;
    width: 18px;
    background: #00ABA9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
.selected-work{
    margin-top: 40px;
    margin-bottom: 20px;
}

/* XS  */
@media screen and (max-width:576px) {
    .hidden-articles{
        display: none;
    }
    .hidden-img{
        display: none;
    }
    .visual{
        font-size: 32px;
        font-family: 'Anton', sans-serif;

    }
    .city{
        font-size: 28px;
        font-family: 'Anton', sans-serif;
    }
}

/* Small */
@media screen and (min-width:576px) and (max-width:768px) {
    .breaker{
        display: none;
    }
    .hidden-articles{
        display: none;
    }
    .visual{
        font-size: 40px;
        font-family: 'Anton', sans-serif;

    }
    .city{
        font-size: 32px;
        font-family: 'Anton', sans-serif;
    }
}

/* medium  */
@media screen and (min-width:768px) {
    .breaker{
        display: none;
    }
    .visual{
        font-size: 48px;
        font-family: 'Anton', sans-serif;

    }
    .city{
        font-size: 40px;
        font-family: 'Anton', sans-serif;
    }
}

/* XL & L */
@media screen and (min-width:992px) {
    .breaker{
        display: none;
    }
    .visual{
        font-size: 64px;
        font-family: 'Anton', sans-serif;

    }
    .city{
        font-size: 48px;
        font-family: 'Anton', sans-serif;
    }
}


